# Ignore node_modules
node_modules/

# Ignore parcel cache and dist folders
.parcel-cache/
dist/

# Ignore sensitive files
yasam-website-firebase-adminsdk-fbsvc-92d681f95f.json

# Ignore OS-specific files
.DS_Store
Thumbs.db 